/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

.background {
  background-image: url('OfficeMobileView.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.oscar {
  background-image: url('oscar.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: white;
}

.Dwight {
  background-image: url('DwightSchrute.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: green;
}

.DwightJim {
  background-image: url('JimasDwight.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: darkgoldenrod;
}

.Jim {
  background-image: url('Jim.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: darkgoldenrod;
}

.Pam {
  background-image: url('Pam.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: darkgoldenrod;
}

.Kevin {
  background-image: url('Kevin.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: darkgoldenrod;
}

.Michael {
  background-image: url('Michael.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: red;
}

.phyllis {
  background-image: url('phyllis.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: white;
}

.middle {
  left: 0;
    line-height: 200px;
    margin-top: -350px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

.center {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.paper {
  background-image: url('paper.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

@media only screen and (min-width: 500px) {
  .background {
    background-image: url('TheOfficeTitleY.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  }

  
}
